@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-white;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #13131a;
}

::-webkit-scrollbar-thumb {
  background: #d4a574;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b8895f;
}
